@model PROYECTO_1203819_2530019.Models.Vacunados

@{
    ViewData["Title"] = "Realizarinjeccion";
}

<h1>Realizarinjeccion</h1>

<div>
    <h4>Vacunados</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Nombre)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Nombre)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Apellido)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Apellido)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.DPI)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.DPI)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Fecha)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Fecha)
        </dd>
    </dl>
</div>
<div>
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Nombre2)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Nombre2)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Apellido2)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Apellido2)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.DPI2)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.DPI2)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Fecha2)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Fecha2)
        </dd>
    </dl>
</div>
<div>
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Nombre3)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Nombre3)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Apellido3)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Apellido3)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.DPI3)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.DPI3)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Fecha3)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Fecha3)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Vacunacion2">Vacunar</a>
    <a asp-action="Vacunacion2">Regresar</a>
</div>


