@model IEnumerable<PROYECTO_1203819_2530019.Models.Paciente>

@{
    ViewData["Title"] = "Search";
}
<body>
    <header class="registro">

        <h1 style="color:darkblue">Búsqueda de paciente</h1>

    </header>
</body>


<p>
    <a asp-action="Buscar">Regresar</a>
</p>
<table class="table table-success table-striped">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Nombre)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Apellido)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DPI)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Departamento)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Municipio)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Edad)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Nombre)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Apellido)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.DPI)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Departamento)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Municipio)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Edad)
                </td>
            </tr>
        }
    </tbody>
</table>
<a style="color: black" asp-action="Index" asp-controller="Home" class="btn btn-danger btn-block" role="button">Regresar a Home</a>
